<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOJA DE VIDA</title>
    </head>
    <body>
        <h1>CURRICULUM VITAE</h1>

        <h2>DATOS PERSONALES:</h2>
        <img width="100" src="{{ url_for('static', filename='foto.jpg') }}">
        <fieldset>
            <legend>Datos personales</legend>
            <ul>

                <li>Correo: mariavelasco20002@gmail.com </li>
                <li>Nombre: Maria Jose Velasco Yagual </li>
                <li>Estado civil: Soltera </li>
                <li>Edad: 20 años </li>
                <li>Direccion: Duran Abel Gilbert </li>
                <li>Telefono:0959683798 </li>
       </ul>
        </fieldset>

        <h2>HABILIDADES Y DESTREZAS:</h2>

        <fieldset> 

        <legend> habilidades y destrezas:</legend>
            <tr>
                <td> </td>

            </tr>Alta capacidad de trabajo en equipo, responsabilidad, compromiso y lealtad, con lineamientos claros de honestidad, 
            en constante búsqueda de los objetivos y aceptación plena de trabajo bajo presión con mente clara que recepta fácilmente
            los retos, dispuestos a aprender y por supuesto a ada ptarme a cualquier cambio que puede surgir.</td>
        </fieldset>
        
        <h2>ESTUDIOS REALIZADOS:</h2>
        <fieldset>
            <legend>Estudios realizados</legend>
            <ul>
                <li>Secundaria: Unidad educativa "9 DE OCTUBRE"</li>
                <li>superior-cursando: Universidad de guayaquil </li>
                <li>Carrera:"Gestion de la informacion gerencial"</li>
            </fieldset>
        
         <h2>EXPERIENCIA LABORAL:</h2>
         <fieldset>
         <legend>Experiencia laboral</legend>
            <ul>
                <li>Empresa: "municipio de duran"</li>
                <li>Facturacion de entrega de uniforme a los colaboladores</li>
                <li>Archivo de documentos </li>
                <li>Empresa:"la fragancia</li>
                <li>Atencion al cliente</li>

            </fieldset>
        

         <h2>REFERENCIAS PERSONALES:</h2>
         <fieldset>
         <legend>Referencias personales</legend>
            <ul>
                <li>Ing Pamela Yagual G.: Asesora de creditos cel.099299645</li>
                <li>Sr.Jorge Ponce Valdivieso: cobranzas cel.099552750</li>
                <li>Sr.Jose Luis Chimbo: Assesor cel.096854555</li>
     </fieldset>
        

                



       
    </body>
</html>